/* ----------------About MDHL ------------------ */
*{
    margin:auto;
}
.nav .nav-link {
    padding-bottom: 55px;
    display:block;
    display: grid;
    padding-inline: 10px;
}

.barra_de_nav{
    position: relative;
    top: 70px;
}

#titulo_header {
    text-align: initial;
    border-color: azure;
    border: 10px;
    font-size: 43px;
    padding: 51px;
    position: relative;
    }

#logo {
    width: 10%;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 331px;
    left: 35%;
}

header {
    background-image: url(../assets/imagenes/design1_image1.jpg );
    padding-bottom: 25px;
}


.about {
    background-color: rgb(8, 7, 7);
    color: white;
    margin-top: 0%;
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    text-align: center;
    display: inherit;
    margin-top: 15px;
    margin-block-start: 10px;
    position: relative;
    bottom: 230px;
}
#imagen_1{
    width: 45%;
    margin-top: 35px;
    position: relative;
    left: 110px;
}
#info{
    text-align: justify;
    display: inherit;
    margin-top: 15px;
    margin-block-start: 10px;
    padding-left: 283px;
    text-decoration: none;
    position: relative;
    bottom: 356px;
    width: 64%;
    }
    
p{
    font-size:20px ;
}
/* -------------Fin about MDLH------------- */

/* -----------------Contact------------------- */
.mail {
    margin-bottom: 25px;
    margin-left: 150px;
    position: relative;
}

.img2{
    position: relative;
    width: 50%;
    
}

header .contact {
    background-image: url(../assets/imagenes/design1_image1.jpg );
    padding-top: 180px;
}

/* ---------------Fin Contact------------------ */

/* ------------------index------------------------ */

.img1 {
    margin-right: 5px;
    position: relative;
    width: 60%;
    
}
dl, figure {
    margin-bottom:25px ;
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: 20px;
}
dl{
    top: 15px;
    position: relative;
}


/* ----------------fin index------------------ */