*{
    margin:0;
}
#titulo_header {
    color: #fef12f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 200px;
    top: 35px;
    width: 38%;
    font-size: 3vw;
    }
header {
    background-color: #553f35;
    border: 3px solid #c64832;
    padding-bottom: 125px;
    background-image: url(../assets/imagenes/Logo_mighty_ducks-01.png);
    background-position: left;
    background-size: 200px;
    background-repeat:no-repeat;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    display: flex;
}
#logo {
    display:none;
    width: 20%;
}
/* informacion de la pagina */
#info {
    width: 70%;
    font-size: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(20%, 6%);
    }
#info p {
    padding-bottom: 10px;
}
/* imagenes de cada pagina */
#imagen_1, .img2, .img3 {
    width: 90%;
    border: 2px solid #c64832 ;
}
/* barra de navegacion */
.barra_de_nav {
    transform: translateY(-40px);
    position: relative;
    width: 98vw;
    display: flex;
    font-size: 1vw;
    justify-content: flex-end;
    z-index: 3;
    overflow: revert;
}
#contact, #index, #about, #rules, #game_info{
    margin: 0.4vw;
    padding: 1vw 2vw;
    background-color: #c64832;
    border: 2px solid black;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(63, 63, 63);
    -webkit-box-shadow: 3px 3px 3px rgb(63, 63, 63);
    -moz-box-shadow: 3px 3px 3px rgb(63, 63, 63);
}

#contact1, #index1, #about1, #rules1, #game_info1 {
    margin: 0.5vw;
    background-color: #fef12f;
    padding: 1vw 2vw;
    border: 2px solid black;
    border-radius: 25px;
    color: rgb(36, 5, 9);
    text-decoration: none;
    box-shadow: 4px 4px 4px rgb(63, 63, 63);
    -webkit-box-shadow: 4px 4px 4px rgb(63, 63, 63);
    -moz-box-shadow: 4px 4px 4px rgb(63, 63, 63);
}
.about {
    background-color: rgb(8, 7, 7);
    color:#fef12f;
    font-family:Verdana;
    margin-top: 0%;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    display: inherit;
    position: relative;
    bottom: 18px;
    border: 3px solid #c64832;
}
h4, h5{
    color:#c64832;
}
article {
    display: flex;
    flex-direction: column;
    bottom: 2vw;
    position: relative;
}


#fairplay {
    width: 30%;
    position: absolute;
    transform: translate(-219%,-40%);
    z-index: -1;
    visibility: 0.2px;
    }

.title_article, li {
    padding-bottom: 15px;
}

#ol ul {
    list-style-type: circle;
}
/* ----------table------------- */
table {
    transform: translatey(-12vw);
}
.note {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    transform: translateY(-20vw);
    }
th, tr{
    border: 3px solid #c64832;
    position:relative;
}
th{
    background-color:#c64832;
    color:#fef12f
}
td {
    border: 3px solid #c64832;
}

table ul {  
    right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    list-style: none;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: -8vw;
}
.minicontainer{
    display: flex;
    justify-content: space-evenly;
}
/* ----maps----- */
iframe {
    margin-bottom: 2vw;
    border-radius: 40px;
    width: 50vw;
    height:50vw;
}

.barra_de_nav_responsive {
    display: none;
}
button a {
    text-decoration: none;
    color: #791a1a;
}
label{
    font-size: 2vw;
    color:#791a1a;

}
.personal_information, .schools, .uniform, .agreement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw;
}
input .one, input two{
    width: 10vw;
    margin: 3vw;
}
column1, column2 {
    display: flex;
    flex-direction: column;
}
/* -------media query------ */

@media (max-width: 740px) {
    table {
        transform: translatey(1vw);
    }
    .barra_de_nav {
        transform: translateY(-8vw);
        position: relative;
        width: 98vw;
        display: flex;
        font-size: 81%;
        justify-content: flex-end;
        z-index: 3;
        overflow: revert;
        }
    .titulo_header{
        color: #fef12f;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        left: 125px;
        top: 45%;
        width: 30%;
        font-size: 2vw;
        }
    .about {
            margin-top: 0%;
        }
    header {
            background-color: #553f35;
            border: 3px solid #c64832;
            padding-bottom: 125px;
            background-image: url(../assets/imagenes/Logo_mighty_ducks-01.png);
            background-position: left;
            background-size: 23vw;
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            z-index: 2;
            position: relative;
            display: flex;
            }
    #titulo_header {
                color: #fef12f;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                position: relative;
                left: 122px;
                top: 35px;
                width: 51%;
                font-size: 4vw;
                }
    #info {
            width: 70%;
            font-size: 3vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(20%);
            }

    .note {
            display: flex;
            justify-content: center;
            text-decoration: underline;
            transform: translateY(-1vw);
            }
    .container{
        margin-bottom: 2vw;
    }
    
}


